fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv

# Auth & security
python-jose
passlib

# Forms & uploads
python-multipart

# Validation
pydantic
email-validator

alembic          # if migrations
python-dateutil  # if date parsing
